[submodule "fanuc_description"]
	path = src/fanuc_description
	url = https://github.com/FANUC-CORPORATION/fanuc_description
[submodule "fanuc_driver"]
	path = src/fanuc_driver
	url = https://github.com/FANUC-CORPORATION/fanuc_driver
